<h1>Notebook for Capstone Challange</h1>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>

<h3>Extracting the Data</h3>

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from geopy.geocoders import Nominatim

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

req = requests.get(url)
tab = pd.read_html(req.text)
df_tor = pd.DataFrame(tab[0])

df_tor.columns = ['PostalCode','Borough','Neighborhood']

df_tor.reset_index(drop=True,inplace = True)
df_tor.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

<h3>Creating the Data Frame</h3>

In [4]:
df_assigned = df_tor[df_tor.Borough != 'Not assigned'].reset_index(drop=True)
df_assigned.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor

In [5]:
df_group = df_assigned.groupby(['PostalCode','Borough'], as_index=False).agg(lambda x: ','.join(x))
df_group.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [6]:
not_assign = df_group.Neighborhood == 'Not assigned'
df_group.loc[not_assign, 'Neighborhood'] = df_group.loc[not_assign, 'Borough']

In [7]:
df_tor_cleaned = df_group
df_tor_cleaned.shape

(103, 3)